.error {
    background: white;
    text-align: right;
    font-size: larger;
    color: red;
    border-color: red;
}

.succes {
    background: white;
    text-align: right;
    font-size: larger;
    color: black;
    border-color: green;
}

form {
    color: #204d74;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 100px;
}